<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>activity view page!</title>
    </head>
    <style>
        body{
	        background:#06014d;
	        display: block;
        }
        h1{
	        text-align: center;
            color:white;
        }
        table{
	        border: solid 2px white;
	        text-align: center;
	        margin:10%;
        }
        th, td{
	        border: solid 1px black;
        }
        #container{
	        width: 600px;
	        margin: 0 auto;
            color:#dcd9fa;
        }
    </style>
    <body>
        <h1>Activity Log of students attend a test!</h1>
        <table id="container">
            <tr>
                <th>S.No</th>
                <th>Name</th>
                <th>Course_name</th>
                <th>No.of questions attend</th>
                <th>Total_Marks out of 12</th>
            </tr>
            <tr>
                <td>1</td>
                <td>Rajesh</td>
                <td>Python</td>
                <td>10/12</td>
                <td>10</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Maya</td>
                <td>java</td>
                <td>12/12</td>
                <td>12</td>
            </tr>
            <tr>
                <td>3</td>
                <td>Arjun</td>
                <td>python</td>
                <td>9/12</td>
                <td>9</td>
            </tr>
            <tr>
                <td>4</td>
                <td>Rahul</td>
                <td>Python</td>
                <td>12/12</td>
                <td>8</td>
            </tr>
            <tr>
                <td>5</td>
                <td>Sara</td>
                <td>python</td>
                <td>8/12</td>
                <td>7</td>
            </tr>
        </table>
    </body>
</html>