<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>code page!</title>
    </head>
    <style>
        body{
	        background: #06014d;
        }
        .header{
	        text-align: center;
        }
        h4{
          color: white;
        }
        input{
          color: whitesmoke;
        }
        .content{
          color: white;
        }
        h2,h3{
          color: #cecafa;
        }
        input[type='submit']{
          width: 10%;
          margin: 0px 0px 0px 484px;
          color: black;
        }
    </style>
    <body>
    <form action="/submit" autocomplete="off">
        <div class="header">
            <h2>Choose a correct answer!</h2>
            <h3>Multiple answers can be possible</h3>
        </div>
        <div class="content">
            <ol>

                <h4> 1.Which one of these is floor division?</h4>
                     <input type="radio" name="answer">/<br>
                     <input type="radio" name="answer">%<br>
                     <input type="radio" name="answer">//<br>
                     <input type="radio" name="answer">None of this Mentioned

                <h4> 2.What is the maximum possible length of an identifier?</h4>
                     <input type="radio" name="answer">31 characters<br>
                     <input type="radio" name="answer">63 characters<br>
                     <input type="radio" name="answer">79 characters<br>
                     <input type="radio" name="answer">None of the above

                <h4> 3.Suppose list1 is [2, 33, 222, 14, 25], What is list1[-1] ?</h4>
                     <input type="radio" name="answer">25<br>
                     <input type="radio" name="answer">None<br>
                     <input type="radio" name="answer">2<br>
                     <input type="radio" name="answer">Error

                <h4> 4.When will the else part of try-except-else be executed?</h4>
                     <input type="radio" name="answer">when no exception occurs<br>
                     <input type="radio" name="answer">always<br>
                     <input type="radio" name="answer">when an exception occurs<br>
                     <input type="radio" name="answer">when an exception occurs into except block

                <h4> 5.Which of the following statements create a dictionary? (Multiple Correct Answers Possible)</h4>
                     <input type="radio" name="one">d = (40:"john", 45:"50")<br>
                     <input type="radio" name="two">d = {"john":40, "peter":45}<br>
                     <input type="radio" name="three">d = {40:"john", 45:"peter"}<br>
                     <input type="radio" name="four">d = {}

                <h4> 6.To open a file c:scores.txt for writing, we use</h4>
                     <input type="radio" name="answer">outfile = open(file = "c:scores.txt", "r")<br>
                     <input type="radio" name="answer">outfile = open(file = "c:scores.txt", "o")<br>
                     <input type="radio" name="answer">outfile = open("c:scores.txt", "w")<br>
                     <input type="radio" name="answer">outfile = open("c:scores.txt", "r")

                <h4> 7.If python is a case sensitive language</h4>
                     <input type="radio" name="answer">yes<br>
                     <input type="radio" name="answer">No

                <h4> 8.What are the built-in types available in Python?</h4>
                     <input type="radio" name="answer">Integer<br>
                     <input type="radio" name="answer">Floating-point numbers<br>
                     <input type="radio" name="answer">Strings<br>
                     <input type="radio" name="answer">All of above

                <h4> 9.Name some of the built-in modules in Python?</h4>
                     <input type="radio" name="answer">sys module<br>
                     <input type="radio" name="answer">Math module<br>
                     <input type="radio" name="answer">collection module<br>
                     <input type="radio" name="answer">All of above

                <h4>10.What are the methods to implement Functionally Oriented Programming in Python?</h4>
                     <input type="radio" name="answer">Filter<br>
                     <input type="radio" name="answer">Map<br>
                     <input type="radio" name="answer">Reduce<br>
                     <input type="radio" name="answer">All of the above

                <h4>11.What good is recursion?</h4>
                     <input type="radio" name="answer">Need to put in less efforts<br>
                     <input type="radio" name="answer">Bigger code than that by loops<br>
                     <input type="radio" name="answer">Easier-to-understand code<br>
                     <input type="radio" name="answer">All of the above<br>

                <h4>12.Which type of Programming does Python support?</h4>
                     <input type="radio" name="answer">functional programming<br>
                     <input type="radio" name="answer">object-oriented programming<br>
                     <input type="radio" name="answer">structured programming<br>
                     <input type="radio" name="answer">all of the mentioned<br>

                    <br>
                <input type="submit" value="submit">
            </ol>
        </div>
        <div class="Footer">
            <h4>Press submit button after you finish your test!</h4>
        </div>
    </form>
    </body>
</html>